<h2>Create your own workout!</h2>
<form action="">
    <label for="Body Part">Search by Body Part</label>
    <input id="Body Part" type="text" name="text">
    <input type="submit" value="search">
</form>



<%= data[0].name %>

<div>
    <%  for (let i = 0; i < data.length; i++){ %> 
        <%= data[i].name %> <br>
        <img src='<%= data[i].gifUrl %>' alt="Computer man" style="width:48px;height:48px;">
        <form method="POST" action="/myworkoutroutine">
        <input hidden type="text" name="name" value="<%= data[i].name %>">
        <button class="btn btn-primary" type="submit">Add to routine</button>
        </form>
      <% } %>
</div>


