<h2>Homepage</h2>


<nav>
    <ul id="primary-navigation" class="primary-navigation flex">
        <li class="active">
            <a href="">
                <span aria-hidden="true"></span>Home
            </a>
        
        <li>
            <a href="/workouts/search">
                <span aria-hidden="true"></span>Create Workout Plan
            </a>
        
        <li>
            <a href="/recipes/search">
                <span aria-hidden="true"></span>Crew
            </a>
        
        <li>
            <a href="test4.html">
                <span aria-hidden="true"></span>Technology
            </a>
            
    </ul>
</nav>

<link rel="stylesheet" href="../public/css/style.css">