<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/searchpage.css">
</head>
<body>
    <form method="get" action="/">
        <button type="submit">Back to Homepage</button>
    </form>
    <h1>Enter Your Favorite Food to Find Recipes for You!</h1>
    <div id="search-form">
        <form method="POST" action="/recipes/results">
            <input type="text" id="search" name="search" value="">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>


<br>
<br>
<br>
<% data.forEach((elem) => { %>
    <h2><%= elem.title %> </h2>
    <h3>The price per serving is: <%= (parseInt(elem.pricePerServing)/10).toString() %>$ </h3>
    <img src=<%= elem.image %> >
    
    <a href="<%= elem.sourceUrl %>">Details</a>
    <br>
    <br>
    <br>
    <br>
    <br>
 <% }) %>




